html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #000;
}
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
#pinkboard {
  height: 100%;
  margin-left: auto;
  animation: 1.5s ease 1.5s infinite beat;
  background-color: transparent;
}
#pinkboard2 {
  height: 100%;
  margin-left: auto;
  background-color: transparent;
  animation: 1.5s ease 1.5s infinite beat2;
  transform: scale(0.8);
}
#pinkboard4 {
  height: 100%;
  margin-left: auto;
  background-color: transparent;
  animation: 1.5s ease 1.5s infinite beat4;
  transform: scale(0.75);
}
#pinkboard3 {
  height: 100%;
  margin-left: auto;
  background-color: transparent;
  transform: scale(0.95);
}
@keyframes beat {
  0%, 50%, 100% { transform: scale(0.9, 0.9); }
  30%, 80% { transform: scale(0.8, 0.8); }
}
@keyframes beat2 {
  0%, 50%, 100% { transform: scale(0.8, 0.8); }
  30%, 80% { transform: scale(0.7, 0.7); }
}

@keyframes beat4 {
  0%, 50%, 100% { transform: scale(0.65, 0.65); }
  30%, 80% { transform: scale(0.6, 0.6); }
}
@keyframes beat3 {
  0%, 50%, 100% { transform: scale(0.95, 0.95); }
  30%, 80% { transform: scale(0.9, 0.9); }
}
@keyframes pulse {
  0%, 50%, 100% {  background: #fee; }
  30%, 80% { background: #fff; }
}